body {
  height: 714px;
  background-image: url("banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.contact-header {
  background: rgba(217,101,0,0.9);
}
.email-phone__item {
  font-size: 1rem;
}
.nav-link {
  font-size: .8rem;
}
.headline {
  margin-top: 426px !important;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .headline {
    margin-top: 0 !important;
  } */
  body {
    height: 1024px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav-link {
    font-size: 1rem;
  }  
}